html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

.container {
	overflow: hidden;
}

.filterDiv {
	width: 100px;
	line-height: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	margin: 2px;
	display: none;
}

.show {
	display: block;
}

.card-title-sub{
  color: #ff710a;
  font-style: italic;
  font-size: 12px;
}

.card-title{
  color: #51b400;
}
